### Java template
*.class 
# Package Files 
#*.jar
*.war
*.ear 
### macOS template
*.DS_Store.AppleDouble.LSOverride 
# IntelliJ project files
*.idea
.idea
.idea/*.xml
*.iml
out
gen
build
rebel.xml
 # Compliled files
/target/
**/target 
/example/
# Gradle
.gradle
/build/
.gradletasknamecache
# 윈도우 사용자
desktop.ini
Thumbs.db
.idea
# 맥 사용자
._*
.DS_Store
.Spotlight-V100
.Trashes
